body{          /* type selectors */
    background-color: green; 
}
.h1{    
    background-color:pink;        /* class selectors */
    color:white;
}
#main{           /* id selectors */
    background-color:pink;
    color:blue;
}
