#outer{
    font-size:16px;
    height:100px;
    width:100px;
    border:2px solid black;
    background-color: rgb(62, 255, 4)
 
}

#inner{
    height:50px;
    width:50px;
    border:2px solid black;
    background-color: rgb(4, 21, 255);
      margin:5px 23px 23px 23px
}
